<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Its a good day, intense harmattan in January. Loving Manifest so far.</p>
    
    <a href="/category" >Categories</a> <br>
    <a href="/customer" >Customers</a> <br>
    <a href="/option" >Options</a> <br>
    <a href="/orderdetail" >Order Details</a> <br>
    <a href="/order" >Orders</a> <br>
    <a href="/product" >Products</a> <br>
  </body>
</html>
